<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first webpage</title>

    <style>
        body{
            text-align: center;
        }
        button{
            background-color: red;
            color: white;
        }
    </style>
</head>

<body bgcolor="aqua">
    <h1>Email Spam Classifier</h1>
    <form method="post" action="/predict">
        <textarea  rows="20" cols="50" name="content" placeholder="Enter your email here"
        autocomplete="off" > {{email}} </textarea><br>
        <div>
            <button type="submit">Check</button>
            <button type="reset" style="color: aliceblue;"> <a href="/">Reset</a></button>
        </div>
    </form>
    {% if prediction==1 %} 
    <h2 style="color: red;">SPAM</h2>
    {% elif prediction==-1 %} 
    <h2 style="color: green;">NOT SPAM</h2>
    {% endif %}

</body>
</html>